/* index.html */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: monospace;
  background-color: #ece6e3;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#shelf-container {
  display: flex;
  align-items: center;
}

#door {
  margin-top: -20px; /* Adjust the value to move the door up */
  cursor: pointer;
}

#bed, #meow {
  cursor: pointer;
}

#pointer {
  cursor: pointer;
}
