/* universal */
.asciiAlign {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: monospace;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

/* index.html */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: monospace;
  background-color: #ece6e3;
}

/* introduction.html */
#asciiAlign {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: monospace;
}
